header{
		font-family: 'bonvenocflight', sans-serif;
		width: 100%;
		height: 60px;
		background: $background;
		overflow: hidden;
		position: relative;
		z-index: 1;
		.icon-angle-right{
			color: $white;
			font-size: 2em;
			text-align: center;
			width: 32px;
			display: block;
			float: left;
			margin: 13px 0 0 45px;
			transition: all 500ms ease-out;
			&:hover, &:focus, &:visited{
				color: $white;
			}
		}
		h1{
			font-family: 'bonvenocflight', sans-serif;
			font-size: 1.5em;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 0.23em;
			width: 400px;
			float: left;
			padding: 20px 0  0 26px;
			a:hover, &:focus, &:visited{
				color: $white;
			}
		}
		.icon-envelope{
			font-size: 2em;
			display: block;
			width: 30px;
			float: right;
			margin: 13px 30px;
			transition: all 0.5s ease-in-out;
			&:hover{
				color: $green;
			}
		}
}
.rotate-on{
	transform: rotate(90deg);
  	-ms-transform: rotate(90deg); /* IE 9 */
  	-moz-transform: rotate(90deg); /* Firefox */
  	-webkit-transform: rotate(90deg); /* Safari and Chrome */
  	-o-transform: rotate(90deg); /* Opera */
}
.rotate-off{
	transform: rotate(0deg);
  	-ms-transform: rotate(0deg); /* IE 9 */
  	-moz-transform: rotate(0deg); /* Firefox */
  	-webkit-transform: rotate(0deg); /* Safari and Chrome */
  	-o-transform: rotate(0deg); /* Opera */
}
.nav-wrap{
	position: absolute;
	width: 100%;
}
nav{
	width: 100%;
	height: 30px;
	background: $white;
	position: relative;
	z-index: 1;
	ul{
		margin-left: 30px;
		li{
			float: left;
			width: 30px;
			padding: 8px 73px;
			a{	
				color: $green;
				font-family: 'bonvenocflight', sans-serif;
				font-size: 14px;
				transition: all 0.5s ease-in-out;
				&:hover{
					color: $black;
				}
			}
		}
	}
}