.sc-player{
  font-family: 'bonvenocflight', sans-serif;
  background-color: $black;
  color: $darkgreen;
  font-size: 0.7em;
  line-height: 1.4em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  float: left;
}

.sc-player ol, .sc-player li{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.sc-player a {
  text-decoration: none;
  color: $darkgreen;
}

/* Artworks */

.sc-player .sc-artwork-list{
  background-color: $black;
  list-style-type: none;
  width: 100%;
  height: 50%;
  float: left;
}

.sc-player .sc-artwork-list li{
  list-style-type: none;
  display: none;
}

.sc-player .sc-artwork-list li.active{
  list-style-type: none;
  display: block;
}

.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div{
  list-style-type: none;
  width: 100%;
  height: 100%;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  -webkit-filter: contrast(110%);
}

/* controls */

.sc-player .sc-controls{
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 125px;
  margin-top: -70%;
}

.sc-player .sc-controls a{
  display: block;
  color: $white;
  font-size: 8em;
  opacity: 0.6;
}

.sc-player .sc-controls a:hover {
  opacity: 0.8;
}

.sc-player .sc-controls a.sc-pause{
  display: none;
}

.sc-player.playing .sc-controls a.sc-play{
  display: none;
}

.sc-player.playing .sc-controls a.sc-pause{
  display: block;
}

/* scrubber */

.sc-scrubber {
  background-color: $black;
  display: block;
  width: 100%;
  height: 28px;
  float: left;
}

.sc-scrubber .sc-time-indicators{
  background: $black;
  color: $white;
  padding: 3px 6px;
  float: right;
}

/* volume control */
.sc-volume-slider {
  background-color: $white;
  width: 110px;
  height: 12px;
  float: left;
  margin: 6px 2px;
  position: relative;
}
.sc-volume-slider .sc-volume-status{
  background-color: $player;
  border-right: 1px solid $darkgreen;
  position: absolute;
  width: 0%;
  height: 10px;
  top: 1px;
  left: 1px;
}


/* tracks */

/* Track listings*/

.sc-player ol.sc-trackslist{
  background-color: $white;
  width: 100%;
  height: 50%;
  float: left;
  overflow: auto;
}

.sc-player ol.sc-trackslist li{
  background: $white;    
  color: $darkgreen;
  -webkit-transition: background 0.3s ease-in;
  float: left;
  width: 90%;
  cursor: pointer;
  margin: 0;
  padding: 3% 5%;
  span{
    float: right;
  }
}

.sc-player ol.sc-trackslist li:hover {  
  background: $player;    
}

.sc-player ol.sc-trackslist li.active{  
  background: $player;    
}

.sc-player ol.sc-trackslist li.active a {
  color: $darkgreen;
}

/* utilities */

.sc-player .hidden {
  display: none;
}

.sc-player-engine-container{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
