/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/_base.scss */
html, body {
  font-family: 'bonvenocflight', sans-serif;
  background: black; }

/* line 5, ../sass/_base.scss */
a {
  text-decoration: none;
  color: white;
  transition: all 500ms ease-out; }
  /* line 9, ../sass/_base.scss */
  a:hover {
    color: #081709; }

@font-face {
  font-family: 'bonvenocflight';
  src: url("../fonts/BonvenoCF-Light-webfont.eot");
  src: url("../fonts/BonvenoCF-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BonvenoCF-Light-webfont.woff") format("woff"), url("../fonts/BonvenoCF-Light-webfont.ttf") format("truetype"), url("../fonts/BonvenoCF-Light-webfont.svg#bonvenocflight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'droid_serifregular';
  src: url("../fonts/DroidSerif-webfont.eot");
  src: url("../fonts/DroidSerif-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif-webfont.woff") format("woff"), url("../fonts/DroidSerif-webfont.ttf") format("truetype"), url("../fonts/DroidSerif-webfont.svg#droid_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'droid_serifbold';
  src: url("../fonts/DroidSerif-Bold-webfont.eot");
  src: url("../fonts/DroidSerif-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif-Bold-webfont.woff") format("woff"), url("../fonts/DroidSerif-Bold-webfont.ttf") format("truetype"), url("../fonts/DroidSerif-Bold-webfont.svg#droid_serifbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome.eot");
  src: url("../fonts/fontawesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.ttf") format("truetype"), url("../fonts/fontawesome.svg#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 53, ../sass/_fonts.scss */
[data-icon]:before {
  font-family: 'fontawesome';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 70, ../sass/_fonts.scss */
.icon-music, .icon-envelope, .icon-remove, .icon-signal, .icon-play-circle, .icon-headphones, .icon-volume-off, .icon-volume-down, .icon-volume-up, .icon-step-backward, .icon-fast-backward, .icon-backward, .icon-play, .icon-pause, .icon-stop, .icon-forward, .icon-fast-forward, .icon-step-forward, .icon-chevron-left, .icon-chevron-right, .icon-chevron-up, .icon-chevron-down, .icon-facebook, .icon-envelope-alt, .icon-angle-left, .icon-angle-right, .icon-angle-up, .icon-angle-down, .icon-quote-left, .icon-quote-right, .icon-euro {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* line 80, ../sass/_fonts.scss */
.icon-music:before {
  content: "\f001"; }

/* line 83, ../sass/_fonts.scss */
.icon-envelope:before {
  content: "\f003"; }

/* line 86, ../sass/_fonts.scss */
.icon-remove:before {
  content: "\f00d"; }

/* line 89, ../sass/_fonts.scss */
.icon-signal:before {
  content: "\f012"; }

/* line 92, ../sass/_fonts.scss */
.icon-play-circle:before {
  content: "\f01d"; }

/* line 95, ../sass/_fonts.scss */
.icon-headphones:before {
  content: "\f025"; }

/* line 98, ../sass/_fonts.scss */
.icon-volume-off:before {
  content: "\f026"; }

/* line 101, ../sass/_fonts.scss */
.icon-volume-down:before {
  content: "\f027"; }

/* line 104, ../sass/_fonts.scss */
.icon-volume-up:before {
  content: "\f028"; }

/* line 107, ../sass/_fonts.scss */
.icon-step-backward:before {
  content: "\f048"; }

/* line 110, ../sass/_fonts.scss */
.icon-fast-backward:before {
  content: "\f049"; }

/* line 113, ../sass/_fonts.scss */
.icon-backward:before {
  content: "\f04a"; }

/* line 116, ../sass/_fonts.scss */
.icon-play:before {
  content: "\f04b"; }

/* line 119, ../sass/_fonts.scss */
.icon-pause:before {
  content: "\f04c"; }

/* line 122, ../sass/_fonts.scss */
.icon-stop:before {
  content: "\f04d"; }

/* line 125, ../sass/_fonts.scss */
.icon-forward:before {
  content: "\f04e"; }

/* line 128, ../sass/_fonts.scss */
.icon-fast-forward:before {
  content: "\f050"; }

/* line 131, ../sass/_fonts.scss */
.icon-step-forward:before {
  content: "\f051"; }

/* line 134, ../sass/_fonts.scss */
.icon-chevron-left:before {
  content: "\f053"; }

/* line 137, ../sass/_fonts.scss */
.icon-chevron-right:before {
  content: "\f054"; }

/* line 140, ../sass/_fonts.scss */
.icon-chevron-up:before {
  content: "\f077"; }

/* line 143, ../sass/_fonts.scss */
.icon-chevron-down:before {
  content: "\f078"; }

/* line 146, ../sass/_fonts.scss */
.icon-facebook:before {
  content: "\f09a"; }

/* line 149, ../sass/_fonts.scss */
.icon-envelope-alt:before {
  content: "\f0e0"; }

/* line 152, ../sass/_fonts.scss */
.icon-angle-left:before {
  content: "\f104"; }

/* line 155, ../sass/_fonts.scss */
.icon-angle-right:before {
  content: "\f105"; }

/* line 158, ../sass/_fonts.scss */
.icon-angle-up:before {
  content: "\f106"; }

/* line 161, ../sass/_fonts.scss */
.icon-angle-down:before {
  content: "\f107"; }

/* line 164, ../sass/_fonts.scss */
.icon-quote-left:before {
  content: "\f10d"; }

/* line 167, ../sass/_fonts.scss */
.icon-quote-right:before {
  content: "\f10e"; }

/* line 170, ../sass/_fonts.scss */
.icon-euro:before {
  content: "\f153"; }

/* line 1, ../sass/_structure-vertical.scss */
.sc-player {
  font-family: 'bonvenocflight', sans-serif;
  background-color: black;
  color: #081709;
  font-size: 0.7em;
  line-height: 1.4em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  float: left; }

/* line 13, ../sass/_structure-vertical.scss */
.sc-player ol, .sc-player li {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

/* line 19, ../sass/_structure-vertical.scss */
.sc-player a {
  text-decoration: none;
  color: #081709; }

/* Artworks */
/* line 26, ../sass/_structure-vertical.scss */
.sc-player .sc-artwork-list {
  background-color: black;
  list-style-type: none;
  width: 100%;
  height: 50%;
  float: left; }

/* line 34, ../sass/_structure-vertical.scss */
.sc-player .sc-artwork-list li {
  list-style-type: none;
  display: none; }

/* line 39, ../sass/_structure-vertical.scss */
.sc-player .sc-artwork-list li.active {
  list-style-type: none;
  display: block; }

/* line 44, ../sass/_structure-vertical.scss */
.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div {
  list-style-type: none;
  width: 100%;
  height: 100%;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  -webkit-filter: contrast(110%); }

/* controls */
/* line 56, ../sass/_structure-vertical.scss */
.sc-player .sc-controls {
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 125px;
  margin-top: -70%; }

/* line 64, ../sass/_structure-vertical.scss */
.sc-player .sc-controls a {
  display: block;
  color: white;
  font-size: 8em;
  opacity: 0.6; }

/* line 71, ../sass/_structure-vertical.scss */
.sc-player .sc-controls a:hover {
  opacity: 0.8; }

/* line 75, ../sass/_structure-vertical.scss */
.sc-player .sc-controls a.sc-pause {
  display: none; }

/* line 79, ../sass/_structure-vertical.scss */
.sc-player.playing .sc-controls a.sc-play {
  display: none; }

/* line 83, ../sass/_structure-vertical.scss */
.sc-player.playing .sc-controls a.sc-pause {
  display: block; }

/* scrubber */
/* line 89, ../sass/_structure-vertical.scss */
.sc-scrubber {
  background-color: black;
  display: block;
  width: 100%;
  height: 28px;
  float: left; }

/* line 97, ../sass/_structure-vertical.scss */
.sc-scrubber .sc-time-indicators {
  background: black;
  color: white;
  padding: 3px 6px;
  float: right; }

/* volume control */
/* line 105, ../sass/_structure-vertical.scss */
.sc-volume-slider {
  background-color: white;
  width: 110px;
  height: 12px;
  float: left;
  margin: 6px 2px;
  position: relative; }

/* line 113, ../sass/_structure-vertical.scss */
.sc-volume-slider .sc-volume-status {
  background-color: #d4d4d4;
  border-right: 1px solid #081709;
  position: absolute;
  width: 0%;
  height: 10px;
  top: 1px;
  left: 1px; }

/* tracks */
/* Track listings*/
/* line 128, ../sass/_structure-vertical.scss */
.sc-player ol.sc-trackslist {
  background-color: white;
  width: 100%;
  height: 50%;
  float: left;
  overflow: auto; }

/* line 136, ../sass/_structure-vertical.scss */
.sc-player ol.sc-trackslist li {
  background: white;
  color: #081709;
  -webkit-transition: background 0.3s ease-in;
  float: left;
  width: 90%;
  cursor: pointer;
  margin: 0;
  padding: 3% 5%; }
  /* line 145, ../sass/_structure-vertical.scss */
  .sc-player ol.sc-trackslist li span {
    float: right; }

/* line 150, ../sass/_structure-vertical.scss */
.sc-player ol.sc-trackslist li:hover {
  background: #d4d4d4; }

/* line 154, ../sass/_structure-vertical.scss */
.sc-player ol.sc-trackslist li.active {
  background: #d4d4d4; }

/* line 158, ../sass/_structure-vertical.scss */
.sc-player ol.sc-trackslist li.active a {
  color: #081709; }

/* utilities */
/* line 164, ../sass/_structure-vertical.scss */
.sc-player .hidden {
  display: none; }

/* line 168, ../sass/_structure-vertical.scss */
.sc-player-engine-container {
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px; }

/* line 1, ../sass/_header.scss */
header {
  font-family: 'bonvenocflight', sans-serif;
  width: 100%;
  height: 60px;
  background: black;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  /* line 9, ../sass/_header.scss */
  header .icon-angle-right {
    color: white;
    font-size: 2em;
    text-align: center;
    width: 32px;
    display: block;
    float: left;
    margin: 13px 0 0 45px;
    transition: all 500ms ease-out; }
    /* line 18, ../sass/_header.scss */
    header .icon-angle-right:hover, header .icon-angle-right:focus, header .icon-angle-right:visited {
      color: white; }
  /* line 22, ../sass/_header.scss */
  header h1 {
    font-family: 'bonvenocflight', sans-serif;
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    width: 400px;
    float: left;
    padding: 20px 0  0 26px; }
    /* line 31, ../sass/_header.scss */
    header h1 a:hover, header h1:focus, header h1:visited {
      color: white; }
  /* line 35, ../sass/_header.scss */
  header .icon-envelope {
    font-size: 2em;
    display: block;
    width: 30px;
    float: right;
    margin: 13px 30px;
    transition: all 0.5s ease-in-out; }
    /* line 42, ../sass/_header.scss */
    header .icon-envelope:hover {
      color: #2d7326; }

/* line 47, ../sass/_header.scss */
.rotate-on {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  -o-transform: rotate(90deg);
  /* Opera */ }

/* line 54, ../sass/_header.scss */
.rotate-off {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -moz-transform: rotate(0deg);
  /* Firefox */
  -webkit-transform: rotate(0deg);
  /* Safari and Chrome */
  -o-transform: rotate(0deg);
  /* Opera */ }

/* line 61, ../sass/_header.scss */
.nav-wrap {
  position: absolute;
  width: 100%; }

/* line 65, ../sass/_header.scss */
nav {
  width: 100%;
  height: 30px;
  background: white;
  position: relative;
  z-index: 1; }
  /* line 71, ../sass/_header.scss */
  nav ul {
    width: 30%;
    margin-left: 100px; }
    /* line 74, ../sass/_header.scss */
    nav ul li {
      float: left;
      width: 33.3333%; }
      /* line 77, ../sass/_header.scss */
      nav ul li a {
        display: block;
        width: 100%;
        height: 14px;
        padding: 8px 0;
        color: black;
        font-family: 'bonvenocflight', sans-serif;
        font-size: 14px;
        transition: all 0.5s ease-in-out; }
        /* line 86, ../sass/_header.scss */
        nav ul li a:hover {
          background-color: black;
          color: white; }

/* line 2, ../sass/_home.scss */
.page {
  background: url("../img/yakushima.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

/* line 1, ../sass/_music.scss */
.music {
  overflow: hidden; }
  /* line 3, ../sass/_music.scss */
  .music .player-wrap {
    background: white;
    width: 300px;
    height: 100%;
    float: left; }
  /* line 9, ../sass/_music.scss */
  .music #filler {
    background: white;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  /* line 18, ../sass/_music.scss */
  .music .map {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1; }
    /* line 24, ../sass/_music.scss */
    .music .map iframe {
      width: 100%;
      height: 100%;
      margin-left: 300px;
      overflow: hidden;
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
      /* Firefox 10+, Firefox on Android */
      filter: gray;
      /* IE6-9 */
      -webkit-filter: grayscale(100%);
      /* Chrome 19+, Safari 6+, Safari 6+ iOS */ }

/* line 1, ../sass/_about.scss */
#about {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  /* line 7, ../sass/_about.scss */
  #about #video {
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: -1;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */ }
  /* line 16, ../sass/_about.scss */
  #about .overbox {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  /* line 26, ../sass/_about.scss */
  #about #about-text {
    width: 100%;
    height: 100%; }
    /* line 29, ../sass/_about.scss */
    #about #about-text #text-wrap {
      font-family: 'bonvenocflight', sans-serif;
      color: #081709;
      width: 100%;
      height: 100%;
      -webkit-box-sizing: border-box;
      /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;
      /* Firefox, other Gecko */
      box-sizing: border-box;
      /* Opera/IE 8+ */
      padding: 20px 15% 0;
      background-color: rgba(255, 255, 255, 0.5); }
      /* line 39, ../sass/_about.scss */
      #about #about-text #text-wrap h2 {
        color: white;
        font-size: 2em;
        text-align: center;
        text-transform: uppercase;
        line-height: 3em;
        margin-top: 150px; }
      /* line 47, ../sass/_about.scss */
      #about #about-text #text-wrap p {
        font-family: 'droid_serifregular', serif;
        line-height: 2em;
        text-align: center; }
  /* line 54, ../sass/_about.scss */
  #about .icon-volume-off, #about .icon-volume-up {
    font-size: 2em;
    display: block;
    width: 30px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    transition: all 0.5s ease-in-out; }
    /* line 62, ../sass/_about.scss */
    #about .icon-volume-off:hover, #about .icon-volume-up:hover {
      color: black; }
  /* line 66, ../sass/_about.scss */
  #about .icon-volume-up {
    display: none; }
  /* line 69, ../sass/_about.scss */
  #about .icon-volume-up.active {
    display: block; }

/* line 1, ../sass/_shop.scss */
#shop {
  width: 100%;
  height: 100%;
  background: url(../img/shop.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

/* line 13, ../sass/_shop.scss */
.overbox {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0; }
